
$purple-01: #A259FF;
$blue-01:   #005de0;
$blue-02:   #5692e6;

$white:      #ffffff;
$gray-light: #e0e0e0;
$gray:       #333333;
$black:      #2B2B2B;

$warning-01: #f9fb93;
$error-01:   #fbe3e4;
$success-01: #cfefc2;